*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.so.*
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
build/
Build/
build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
*.tmp
*.log
*.bak
*.swp
vcpkg_installed/
*.dwo
Testing/
.cache/
.idea/
.vscode/
.vs/
.env*
!.env.example
secrets/
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/
dist
tmp
out-tsc
bazel-out
node_modules
npm-debug.log
yarn-error.log
.c9/
*.launch
.settings/
*.sublime-workspace
.history/*
connect.lock
coverage
libpeerconnection.log
testem.log
typings
__screenshots__/
.DS_Store
Thumbs.db
snn_train/data/
Pipfile.lock
data/
